.Credit_sliderProgress__SQpCe {
    background: #eee;
    height: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #fff;
    position: relative
}

.Credit_sliderProgress__activeBar__3iqSN {
    background: #0061a7;
    height: 100%;
    border-radius: 6px 0 0 6px;
    text-align: right;
    position: relative
}

.Credit_sliderProgress__activeBar__3iqSN span {
    text-align: center;
    display: inline-block;
    width: 50px;
    position: relative;
    padding-top: 4px
}

.Credit_sliderProgress__activeBar__3iqSN:before {
    content: "";
    width: 51px;
    height: 30px;
    background: #0061a7;
    border-radius: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%
}

.Credit_sliderProgress__jaIOF {
    background: #eee;
    height: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #fff;
    position: relative
}

.Credit_sliderProgress__activeBar__1ZKJ5 {
    background: #0061a7;
    height: 100%;
    width: 20%;
    border-radius: 6px 0 0 6px;
    text-align: right;
    position: relative
}

.Credit_sliderProgress__activeBar__1ZKJ5 span {
    text-align: center;
    display: inline-block;
    width: 50px;
    top: -5px
}

.Credit_sliderProgress__activeBar__1ZKJ5:before {
    content: "";
    z-index: -1;
    width: 50px;
    height: 30px;
    background: #0061a7;
    border-radius: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: -1px;
    top: 50%
}

.Credit_sideMenu__1jdX7 {
    background-color: #f6faff;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1)
}

.Credit_sideMenu__typeKpr__16jDe {
    padding: 0 16px;
    border-bottom: 1px solid #eee
}

@media only screen and (max-width:551px) {
    .Credit_sideMenu__typeKpr__16jDe {
        padding-left: 16px
    }
}

.Credit_sideMenu__step__1Pjig {
    background: #fafafa;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1)
}

.Credit_sideMenu__step__1Pjig ol {
    counter-reset: item;
    list-style-type: none;
    padding: 0 20px
}

.Credit_sideMenu__step__1Pjig ol .Credit_one__uwcvj {
    position: relative;
    bottom: 10px;
    z-index: 1000
}

.Credit_sideMenu__step__1Pjig ol li {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding: 10px 0;
    border-radius: "8px"
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__egy4d {
    text-align: center;
    height: 28px;
    width: 28px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    color: #fff;
    position: absolute
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__egy4d span {
    padding: 1px 0 0;
    font-family: FuturaBT;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    border-radius: 50%;
    left: 4%;
    top: 59%;
    -webkit-transform: translate(5%, -60%);
    transform: translate(5%, -60%);
    content: "";
    width: 20px;
    height: 20px;
    background: #aaa
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__active__LYH1l {
    border: 2px solid #0061a7
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__active__LYH1l span {
    background: #0061a7
}

.Credit_sideMenu__step__1Pjig ol li.Credit_trackerInactive__3msNG:before {
    content: "";
    width: 2px;
    height: 100%;
    left: 13px;
    top: 24px;
    position: absolute;
    border-left: 2px solid gray;
    border-radius: "8px"
}

.Credit_sideMenu__step__1Pjig ol li.Credit_trackerActive__3p5-l:before {
    content: "";
    width: 2px;
    height: 100%;
    left: 13px;
    top: 24px;
    position: absolute;
    border-left: 2px solid #0061a7;
    border-radius: "8px"
}

.Credit_sideMenu__step__1Pjig ol li:last-child:before {
    content: none
}

.Credit_sideMenu__step__1Pjig ol li h5 {
    font-family: Futura;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    display: inline-block
}

.Credit_sideMenu__step__1Pjig ol li .Credit_stepActive__RFdMc {
    color: #0061a7
}

.Credit_sideMenu__step__1Pjig ol li .Credit_boxMenu2__34i9l,
.Credit_sideMenu__step__1Pjig ol li .Credit_boxMenu__1RhyJ {
    padding-left: 40px
}

.Credit_sideMenu__step__1Pjig ol li .Credit_actived__31gCQ {
    color: #00193e
}

.Credit_sideMenu__step__1Pjig ol li .Credit_menuActive__1qKFG {
    width: 127px;
    color: #0061a7;
    border-radius: 6px;
    background: #e7f2ff;
    -webkit-box-shadow: 0 4px 4px rgba(0, 25, 62, .1);
    box-shadow: 0 4px 4px rgba(0, 25, 62, .1)
}

.Credit_sideMenu__step__1Pjig ol li p {
    font-family: Futura;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 8px 16px;
    margin-bottom: 0
}

.Credit_cardImageUpload__1UNDh {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.Credit_displayImage__20yYb {
    border: 1px solid #aaa;
    height: 100%;
    border-radius: 8px;
    padding: 12px;
    overflow: hidden
}

.Credit_buttonSelectImage__1raNz {
    display: none
}

.Credit_imagePrev__33N90 {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.Credit_imagePrevFullHeight__1e3Tl {
    width: auto;
    height: 100%
}

.Credit_titleStep__3MUjA {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eee
}

.Credit_titleForm__1pR7v {
    font-size: 32px;
    font-family: FuturaBT;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    color: #000
}

.Credit_step_wrapper__LvT_C {
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    flex-direction: row;
    margin: 16px 24px
}

.Credit_step_list__1fYP9,
.Credit_step_wrapper__LvT_C {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -moz-box-direction: normal;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    width: auto;
    padding: 0
}

.Credit_step_list__1fYP9 {
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    flex-direction: column
}

.Credit_step__37TIr {
    border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    background-color: gray;
    border: 2px solid gray;
    border-collapse: separate;
    border-spacing: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    color: #fff;
    position: relative
}

.Credit_step__37TIr:after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid gray;
    background-color: none
}

.Credit_step_active__28r3U {
    border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    background-color: #0061a7;
    border: 2px solid #0061a7;
    border-collapse: separate;
    border-spacing: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    color: #fff;
    position: relative
}

.Credit_step_active__28r3U:after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid #0061a7;
    background-color: none
}

.Credit_step_number__8cB-4 {
    max-width: 100%;
    font-family: FuturaBT;
    font-size: 12px;
    font-weight: 700
}

.Credit_step_tracker_active__3wv_m {
    content: "";
    height: 2px;
    width: 100%;
    border-left: 2px solid #0061a7;
    border-radius: 8px;
    background-color: #0061a7
}

.Credit_step_tracker__13ljr {
    content: "";
    height: 2px;
    width: 100%;
    left: 13px;
    border-left: 2px solid gray;
    background-color: gray;
    border-radius: 8px
}

.Credit_step_caption__20s-V {
    width: 100%;
    font-family: FuturaBT;
    font-weight: 700;
    color: #666;
    font-size: 18px
}

@media only screen and (max-width:768px) {
    .Credit_rightForm__2efqc {
        margin-top: 15px;
        width: 85%
    }
}

@media only screen and (max-width:992px) {
    .Credit_rightForm__2efqc {
        margin-top: 15px;
        width: 85%;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width:576px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 16px
    }
}

@media only screen and (max-width:386px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 15px
    }
}

@media only screen and (max-width:360px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 14px
    }
}

@media only screen and (max-width:280px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 10px
    }
}

.modal_confirmation_boxModal__2a72A {
    width: 100%;
    height: 100%;
    background: #00193e69;
    position: fixed;
    left: 0;
    z-index: 9990;
    top: 0;
    border-radius: 8px
}

.modal_confirmation_boxModal__Modal__2YaUZ {
    max-width: 600px;
    min-height: 576px;
    position: absolute;
    left: 50%;
    padding: 40px 60px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    position: relative;
    font-family: Helvetica Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000
}

@media only screen and (max-width:428px) {
    .modal_confirmation_boxModal__Modal__2YaUZ {
        top: 57%;
        width: 100%;
        height: 100%;
        padding-top: 60px
    }
}

@media only screen and (max-width:390px) {
    .modal_confirmation_boxModal__Modal__2YaUZ {
        width: 100%;
        height: 100%;
        top: 57%
    }
}

.modal_confirmation_boxModal__Modal__Footer__254Rp {
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 0 60px;
    width: 100%
}

@media only screen and (max-width:428px) {
    .modal_confirmation_boxModal__Modal__Footer__254Rp {
        position: static;
        padding: 0;
        bottom: 0;
        margin-top: 24px
    }
}

@media only screen and (max-width:480px) {
    .modal_confirmation_boxModal__Modal__Footer__254Rp {
        max-width: 100%;
        display: -webkit-flex;
        display: -moz-box;
        display: flex
    }
}

@media only screen and (max-width:540px) {
    .modal_confirmation_boxModal__Modal__Footer__254Rp {
        max-width: 100%;
        display: -webkit-flex;
        display: -moz-box;
        display: flex
    }
}

@media only screen and (max-width:576px) {
    .modal_confirmation_boxModal__Modal__2YaUZ {
        width: 100%;
        height: 100% !important
    }
}

.Credit_sliderProgress__SQpCe {
    background: #eee;
    height: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #fff;
    position: relative
}

.Credit_sliderProgress__activeBar__3iqSN {
    background: #0061a7;
    height: 100%;
    border-radius: 6px 0 0 6px;
    text-align: right;
    position: relative
}

.Credit_sliderProgress__activeBar__3iqSN span {
    text-align: center;
    display: inline-block;
    width: 50px;
    position: relative;
    padding-top: 4px
}

.Credit_sliderProgress__activeBar__3iqSN:before {
    content: "";
    width: 51px;
    height: 30px;
    background: #0061a7;
    border-radius: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%
}

.Credit_sliderProgress__jaIOF {
    background: #eee;
    height: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #fff;
    position: relative
}

.Credit_sliderProgress__activeBar__1ZKJ5 {
    background: #0061a7;
    height: 100%;
    width: 20%;
    border-radius: 6px 0 0 6px;
    text-align: right;
    position: relative
}

.Credit_sliderProgress__activeBar__1ZKJ5 span {
    text-align: center;
    display: inline-block;
    width: 50px;
    top: -5px
}

.Credit_sliderProgress__activeBar__1ZKJ5:before {
    content: "";
    z-index: -1;
    width: 50px;
    height: 30px;
    background: #0061a7;
    border-radius: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: -1px;
    top: 50%
}

.Credit_sideMenu__1jdX7 {
    background-color: #f6faff;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1)
}

.Credit_sideMenu__typeKpr__16jDe {
    padding: 0 16px;
    border-bottom: 1px solid #eee
}

@media only screen and (max-width:551px) {
    .Credit_sideMenu__typeKpr__16jDe {
        padding-left: 16px
    }
}

.Credit_sideMenu__step__1Pjig {
    background: #fafafa;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1)
}

.Credit_sideMenu__step__1Pjig ol {
    counter-reset: item;
    list-style-type: none;
    padding: 0 20px
}

.Credit_sideMenu__step__1Pjig ol .Credit_one__uwcvj {
    position: relative;
    bottom: 10px;
    z-index: 1000
}

.Credit_sideMenu__step__1Pjig ol li {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding: 10px 0;
    border-radius: "8px"
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__egy4d {
    text-align: center;
    height: 28px;
    width: 28px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    color: #fff;
    position: absolute
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__egy4d span {
    padding: 1px 0 0;
    font-family: FuturaBT;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    border-radius: 50%;
    left: 4%;
    top: 59%;
    -webkit-transform: translate(5%, -60%);
    transform: translate(5%, -60%);
    content: "";
    width: 20px;
    height: 20px;
    background: #aaa
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__active__LYH1l {
    border: 2px solid #0061a7
}

.Credit_sideMenu__step__1Pjig ol li .Credit_iconList__active__LYH1l span {
    background: #0061a7
}

.Credit_sideMenu__step__1Pjig ol li.Credit_trackerInactive__3msNG:before {
    content: "";
    width: 2px;
    height: 100%;
    left: 13px;
    top: 24px;
    position: absolute;
    border-left: 2px solid gray;
    border-radius: "8px"
}

.Credit_sideMenu__step__1Pjig ol li.Credit_trackerActive__3p5-l:before {
    content: "";
    width: 2px;
    height: 100%;
    left: 13px;
    top: 24px;
    position: absolute;
    border-left: 2px solid #0061a7;
    border-radius: "8px"
}

.Credit_sideMenu__step__1Pjig ol li:last-child:before {
    content: none
}

.Credit_sideMenu__step__1Pjig ol li h5 {
    font-family: Futura;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    display: inline-block
}

.Credit_sideMenu__step__1Pjig ol li .Credit_stepActive__RFdMc {
    color: #0061a7
}

.Credit_sideMenu__step__1Pjig ol li .Credit_boxMenu2__34i9l,
.Credit_sideMenu__step__1Pjig ol li .Credit_boxMenu__1RhyJ {
    padding-left: 40px
}

.Credit_sideMenu__step__1Pjig ol li .Credit_actived__31gCQ {
    color: #00193e
}

.Credit_sideMenu__step__1Pjig ol li .Credit_menuActive__1qKFG {
    width: 127px;
    color: #0061a7;
    border-radius: 6px;
    background: #e7f2ff;
    -webkit-box-shadow: 0 4px 4px rgba(0, 25, 62, .1);
    box-shadow: 0 4px 4px rgba(0, 25, 62, .1)
}

.Credit_sideMenu__step__1Pjig ol li p {
    font-family: Futura;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 8px 16px;
    margin-bottom: 0
}

.Credit_cardImageUpload__1UNDh {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.Credit_displayImage__20yYb {
    border: 1px solid #aaa;
    height: 100%;
    border-radius: 8px;
    padding: 12px;
    overflow: hidden
}

.Credit_buttonSelectImage__1raNz {
    display: none
}

.Credit_imagePrev__33N90 {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.Credit_imagePrevFullHeight__1e3Tl {
    width: auto;
    height: 100%
}

.Credit_titleStep__3MUjA {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eee
}

.Credit_titleForm__1pR7v {
    font-size: 32px;
    font-family: FuturaBT;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    color: #000
}

.Credit_step_wrapper__LvT_C {
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    flex-direction: row;
    margin: 16px 24px
}

.Credit_step_list__1fYP9,
.Credit_step_wrapper__LvT_C {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -moz-box-direction: normal;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    width: auto;
    padding: 0
}

.Credit_step_list__1fYP9 {
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    flex-direction: column
}

.Credit_step__37TIr {
    border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    background-color: gray;
    border: 2px solid gray;
    border-collapse: separate;
    border-spacing: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    color: #fff;
    position: relative
}

.Credit_step__37TIr:after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid gray;
    background-color: none
}

.Credit_step_active__28r3U {
    border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    background-color: #0061a7;
    border: 2px solid #0061a7;
    border-collapse: separate;
    border-spacing: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    color: #fff;
    position: relative
}

.Credit_step_active__28r3U:after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid #0061a7;
    background-color: none
}

.Credit_step_number__8cB-4 {
    max-width: 100%;
    font-family: FuturaBT;
    font-size: 12px;
    font-weight: 700
}

.Credit_step_tracker_active__3wv_m {
    content: "";
    height: 2px;
    width: 100%;
    border-left: 2px solid #0061a7;
    border-radius: 8px;
    background-color: #0061a7
}

.Credit_step_tracker__13ljr {
    content: "";
    height: 2px;
    width: 100%;
    left: 13px;
    border-left: 2px solid gray;
    background-color: gray;
    border-radius: 8px
}

.Credit_step_caption__20s-V {
    width: 100%;
    font-family: FuturaBT;
    font-weight: 700;
    color: #666;
    font-size: 18px
}

@media only screen and (max-width:768px) {
    .Credit_rightForm__2efqc {
        margin-top: 15px;
        width: 85%
    }
}

@media only screen and (max-width:992px) {
    .Credit_rightForm__2efqc {
        margin-top: 15px;
        width: 85%;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width:576px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 16px
    }
}

@media only screen and (max-width:386px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 15px
    }
}

@media only screen and (max-width:360px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 14px
    }
}

@media only screen and (max-width:280px) {
    .Credit_step_caption__20s-V {
        width: 100%;
        font-family: FuturaBT;
        font-weight: 700;
        color: #666;
        font-size: 10px
    }
}

.modal_confirmation_boxModal__2a72A {
    width: 100%;
    height: 100%;
    background: #00193e69;
    position: fixed;
    left: 0;
    z-index: 9990;
    top: 0;
    border-radius: 8px
}

.modal_confirmation_boxModal__Modal__2YaUZ {
    max-width: 600px;
    min-height: 576px;
    position: absolute;
    left: 50%;
    padding: 40px 60px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    position: relative;
    font-family: Helvetica Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000
}

@media only screen and (max-width:428px) {
    .modal_confirmation_boxModal__Modal__2YaUZ {
        top: 57%;
        width: 100%;
        height: 100%;
        padding-top: 60px
    }
}

@media only screen and (max-width:390px) {
    .modal_confirmation_boxModal__Modal__2YaUZ {
        width: 100%;
        height: 100%;
        top: 57%
    }
}

.modal_confirmation_boxModal__Modal__Footer__254Rp {
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 0 60px;
    width: 100%
}

@media only screen and (max-width:428px) {
    .modal_confirmation_boxModal__Modal__Footer__254Rp {
        position: static;
        padding: 0;
        bottom: 0;
        margin-top: 24px
    }
}

@media only screen and (max-width:480px) {
    .modal_confirmation_boxModal__Modal__Footer__254Rp {
        max-width: 100%;
        display: -webkit-flex;
        display: -moz-box;
        display: flex
    }
}

@media only screen and (max-width:540px) {
    .modal_confirmation_boxModal__Modal__Footer__254Rp {
        max-width: 100%;
        display: -webkit-flex;
        display: -moz-box;
        display: flex
    }
}

@media only screen and (max-width:576px) {
    .modal_confirmation_boxModal__Modal__2YaUZ {
        width: 100%;
        height: 100% !important
    }
}
